.nav {
  margin-left: 45%;
  align-items: center;
  text-align: center;
}

.contener {
  margin-left: 5%;
  align-items: center;
  text-align: center;
}

.sub-nav {
  margin-left: 5%;
  margin-right: 5%;
}
